.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    filter: brightness(0.8);
}
.home-header{
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    width: 700px;
    font-size: 26px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;


}
.home-header img{
    width: 350px;
    margin: 0 auto;
}
.home-header button{
    width: 200px;
    height: 70px;
    font-size: 18px;
    font-weight: bolder;
    color:rgb(255, 255, 255);
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);;
    margin: 0 auto;
    cursor: pointer;

}


.fade{
    animation-name: fade;
    animation-duration: 1.5s;

}
#snowEffect{
    position: absolute;
    top: 0;
    left: 0;
    z-index:3;
}
@keyframes fade{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;

    }
}